<H1>Todo</H1>
<div class="container">
    <div class="alert alert-warning" *ngIf="todoForm.dirty&&todoForm.invalid" >Enter Valid Values</div>
    <div class="alert alert-warning" *ngIf="todoForm.dirty&&targetDate.invalid" >Enter Valid Date</div>
    <div class="alert alert-warning" *ngIf="todoForm.dirty && description.invalid" >Enter Valid Description</div>
<form (ngSubmit)=" !todoForm.invalid && saveTodo()" #todoForm="ngForm">
    <fieldset class="form-group">
    <label>Description</label>
    <input type="text" [(ngModel)]="todo.description" name="description" required="required" 
    class="form-control" minlength="5" #description="ngModel">
    </fieldset>
    <fieldset>
    <label class="form-group">Target Date</label>
    <input type="date" [ngModel]="todo.targetDate|date:'yyyy-MM-dd'"
     (ngModelChange)="$event"
      name="targetDate" required="required" 
      class="form-control"
      #targetDate="ngModel">
    </fieldset>
    <button type="submit" class="btn btn-success">Save</button>
</form>
</div>